body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 12px;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Space Grotesk';
}

.container-grid {
    display: flex;
    flex-direction: column;

    width: 60vh;
    height: 60vh;

    border-top: 2px solid;
    border-left: 2px solid;
}

.row-div {
    background-color: white;
    flex: 1;
    display: flex;
    border-bottom: 2px solid;
}

.column-div {
    flex: 1;
    border-right: 2px solid;
}

.change-grid {
    padding: 8px 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 24px;
    cursor: pointer;